{
    "extends": "eslint-config-egg",
    "rules": {
        "indent": ["error", 4],
        "arrow-parens": ["error", { "object": "always" }],
        "comma-dangle": ["error", "always"],
        "no-console": "off"
    }
}
